/* Description */

.description-section {
    font-size: 40rem;
    line-height: 1.1;
}

.description-section .space-after {
    margin-right: 45rem;
}

.description-section .header {
    font-weight: 800;
    font-size: 60rem;
    line-height: 1.2;
    margin: 110rem 0;
    text-transform: uppercase;
}