.background-coins {
    --width: calc(9 / 16 * 100vmax);
    position: absolute;
    top: 0;
    width: var(--width);
    left: calc(50% - (var(--width) / 2));
    height: 100vmax;
    font-size: calc(calc(9 / 16 * 100vmax) / 1080);
    opacity: 0.3;
    overflow: hidden;
}

.background-coins .coin {
    --size: 340em;
    --x: 0px;
    --y: 0px;
    --rotation: 0;
    --animation-duration: 10;
    --animation-delay: 0;
    --positin-delay-cofficient: 8.75vh;
    --position-delay: calc((var(--animation-delay) * var(--positin-delay-cofficient)));
    --animation-step: 0;
    position: absolute;
    width: var(--size);
    height: var(--size);
    background: #00a3e0 url(../img/coin1.svg) no-repeat center/contain;
    border-radius: 50%;
    top: calc(var(--size) * -1);
    left: 0;
    /*animation: coin-falling linear calc(var(--animation-duration) * 1s) infinite;*/
}

.background-coins .coin:nth-child(n+6):nth-child(-n+10) {
    --animation-step: calc(1 / 4);
}

.background-coins .coin:nth-child(n+11):nth-child(-n+15) {
    --animation-step: calc(1 / 4 * 2);
}

.background-coins .coin:nth-child(n+16):nth-child(-n+20) {
    --animation-step: calc(1 / 4 * 3);
}

.background-coins .coin:nth-child(n+21):nth-child(-n+25) {
    --animation-step: calc(1 / 3 * 4);
}

.background-coins .coin:nth-child(5n+1) {
    --rotation: calc((var(--animation-step) * 180) + 180);
    --animation-delay: 0.3;
    --position-delay: calc((var(--animation-delay) * var(--positin-delay-cofficient)));
    animation: coin-falling linear calc(var(--animation-duration) * 1s) calc((var(--animation-delay) + (var(--animation-step) * var(--animation-duration))) * 1s) infinite;
}

.background-coins .coin:nth-child(5n+2) {
    --x: calc((1080 / 2 * 1em) - (var(--size) / 2));
    --rotation: calc((var(--animation-step) * 70) + 70);
    --animation-delay: 0;
    --position-delay: calc((var(--animation-delay) * var(--positin-delay-cofficient)));
    animation: coin-falling linear calc(var(--animation-duration) * 1s) calc((var(--animation-delay) + (var(--animation-step) * var(--animation-duration))) * 1s) infinite;
}

.background-coins .coin:nth-child(5n+3) {
    --x: calc((1080 * 1em) - var(--size));
    --rotation: calc((var(--animation-step) * 30) + 30);
    --animation-delay: 0.5;
    --position-delay: calc((var(--animation-delay) * var(--positin-delay-cofficient)));
    animation: coin-falling linear calc(var(--animation-duration) * 1s) calc((var(--animation-delay) + (var(--animation-step) * var(--animation-duration))) * 1s) infinite;
}

.background-coins .coin:nth-child(5n+4) {
    --x: calc((1080 / 3 * 1em) - (var(--size) / 2));
    --y: calc(var(--size) / 5 * -4);
    --rotation: calc((var(--animation-step) * 90) + 90);
    --animation-delay: 0.9;
    --position-delay: calc((var(--animation-delay) * var(--positin-delay-cofficient)));
    animation: coin-falling linear calc(var(--animation-duration) * 1s) calc((var(--animation-delay) + (var(--animation-step) * var(--animation-duration))) * 1s) infinite;
}

.background-coins .coin:nth-child(5n+5) {
    --x: calc((1080 / 3 * 2 * 1em) - (var(--size) / 2));
    --y: calc(var(--size) / 5 * -4);
    --rotation: calc((var(--animation-step) * 200) + 200);
    --animation-delay: 0.7;
    --position-delay: calc((var(--animation-delay) * var(--positin-delay-cofficient)));
    animation: coin-falling linear calc(var(--animation-duration) * 1s) calc((var(--animation-delay) + (var(--animation-step) * var(--animation-duration))) * 1s) infinite;
}

@keyframes coin-falling {
    0% {
        transform: translate(var(--x), 0) rotate(calc((var(--rotation) + 0) * 1deg));
    }
    5% {
        transform: translate(var(--x), calc((50vh + var(--position-delay) + var(--y)) / 2)) rotate(calc((var(--rotation) + 179) * 1deg));
    }
    10% {
        transform: translate(var(--x), calc(50vh + var(--position-delay) + var(--y))) rotate(calc((var(--rotation) + 358) * 1deg));
    }
    90% {
        transform: translate(var(--x), calc(150vh + var(--position-delay) + var(--y))) rotate(calc((var(--rotation) + 0) * 1deg));
        opacity: 1;
    }
    90.0001% {
        transform: translate(var(--x), calc(150vh + var(--position-delay) + var(--y))) rotate(calc((var(--rotation) + 360) * 1deg));
        opacity: 0;
    }
    90.0002% {
        transform: translate(var(--x), 0);
        opacity: 0;
    }
}