[data-slide-swith] {
    --slide-switch-delay: 0;
    --slide-switch-exit-delay: var(--slide-switch-delay);
    opacity: 0;
    animation: slide-switch-enter 1s calc(var(--slide-switch-delay) * 1s) forwards;
}

[data-slide-swith][data-slide-switch-enter="false"]{
    opacity: initial;
    animation: none;
}

.unload[data-slide-swith]:not([data-slide-switch-exit="false"]), .unload [data-slide-swith]:not([data-slide-switch-exit="false"]) {
    /*--slide-switch-delay: 0;*/
    opacity: 1;
    animation: slide-switch-exit 1s calc(var(--slide-switch-exit-delay) * 1s) forwards;
}

[data-slide-swith="opacity"] {
    animation: slide-switch-opacity-enter 1s calc(var(--slide-switch-delay) * 1s) forwards;
}

[data-slide-swith="opacity"][data-slide-switch-enter="false"] {
    animation: none;
}

.unload[data-slide-swith="opacity"]:not([data-slide-switch-exit="false"]), .unload [data-slide-swith="opacity"]:not([data-slide-switch-exit="false"]) {
    animation: slide-switch-opacity-exit 1s calc(var(--slide-switch-exit-delay) * 1s) forwards;
}

@keyframes slide-switch-enter {
    from {
        opacity: 0;
        transform: translateX(100vw);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slide-switch-exit {
    from {
        opacity: 1;
        transform: translateX(0);
    }
    to {
        opacity: 0;
        transform: translateX(-100vw);
    }
}

@keyframes slide-switch-opacity-enter {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes slide-switch-opacity-exit {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}