* {
    box-sizing: border-box;
}

html, body {
    width: 1080px;
    height: 1920px;
}

:root {
    --background-color: #00a3e0;
    --text-color: white;

    background-color: var(--background-color);
    color: var(--text-color);
}