@font-face {
    font-family: ProximaNova;
    src: url("fonts/proxima_nova_regular-webfont.eot");
    src: url("fonts/proxima_nova_regular-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/proxima_nova_regular-webfont.woff2") format("woff2"), url("fonts/proxima_nova_regular-webfont.woff") format("woff"), url("fonts/proxima_nova_regular-webfont.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: ProximaNova;
    src: url("fonts/proxima_nova_extrabold-webfont.eot");
    src: url("fonts/proxima_nova_extrabold-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/proxima_nova_extrabold-webfont.woff2") format("woff2"), url("fonts/proxima_nova_extrabold-webfont.woff") format("woff"), url("fonts/proxima_nova_extrabold-webfont.ttf") format("truetype");
    font-weight: 800;
    font-style: normal;
}

:root {
    font-family: ProximaNova, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: calc(var(--height-px) * 100) calc(var(--width-px) * 100);
}

/* Description */

.description-section {
    font-size: 40rem;
    line-height: 1.1;
}

.description-section .space-after {
    margin-right: 45rem;
}

.description-section .header {
    font-weight: 800;
    font-size: 60rem;
    line-height: 1.2;
    margin: 110rem 0;
    text-transform: uppercase;
}

/* Check slider and parts */

.check-slider-section {
    --circle-size: 158rem;
    --circle-offset: -97rem;
    --circle-x-position: calc(50% + var(--circle-offset));

    --second-size: 33px;
    --third-size: calc(var(--second-size) + 44px);

    position: relative;
    width: 100%;
    height: 300rem;
    margin: 200rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.check-slider-section .slider {
    /* Circle */

    width: var(--circle-size);
    height: var(--circle-size);
    border-radius: 50%;
    background-color: white;

    transform: translateX(var(--circle-offset));

    animation: pulse 2s infinite;
}

.check-slider-section:before {
    --slider-border-height: 212rem;
    --slider-border-width: 408rem;

    content: '';
    position: absolute;
    /*top: 0;*/
    /*left: 0;*/
    height: var(--slider-border-height);
    width: var(--slider-border-width);
    border-radius: calc(var(--slider-border-height) / 2);
}

.check-slider-section.switched {
    --circle-offset: 97rem;
}

.check-slider-section.switched .slider {
    animation: slider-switch 2s 1 forwards;
}

.check-slider-section.switched .slider:after {
    content: '';
    opacity: 0;
    background: transparent url(otrostok.svg) no-repeat 76% 49%/450rem;
    position: absolute;
    height: var(--circle-size);
    width: calc(var(--circle-size) * 1.5);
    margin-left: calc(var(--circle-size) * -0.5);

    animation: slider-border-switch-decoration 1s 0.5s 1 forwards;
}

.check-slider-section.switched:before {
    --start-width: calc(var(--circle-size) + ((var(--slider-border-height) - var(--circle-size))));
    box-shadow: 0 0 0 1px var(--background-color), inset 0 0 0 33px var(--background-color), inset 0 0 0 calc(var(--slider-border-height) / 2) white;
    animation: slider-border-switch 2s 1 forwards;
}

.check-slider-section.switched .hand, .check-slider-section.switched .clip-hand-wrapper, .check-slider-section.switched .clip-hand {
    display: none;
}

@keyframes pulse {
    0% {
        box-shadow: 0 0 0 calc(var(--second-size) * -1.3) rgba(255, 255, 255, 0.6),
        0 0 0 0 rgba(255, 255, 255, 0.3);
    }
    90% {
        box-shadow: 0 0 0 calc(var(--second-size) * 2) rgba(255, 255, 255, 0.0),
        0 0 0 calc(var(--third-size) * 1.2) rgba(255, 255, 255, 0.0);
    }
    100% {
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.0),
        0 0 0 0 rgba(255, 255, 255, 0.0);
    }
}

@keyframes slider-switch {
    from {
        --circle-offset: -97rem;
        transform: translateX(var(--circle-offset));
        background-color: var(--background-color);
        box-shadow: inset 0 0 0 0 var(--background-color), inset 0 0 0 calc(var(--circle-size) / 2) rgba(255, 255, 255, 1);
    }
    95% {
        --circle-offset: 97rem;
        transform: translateX(var(--circle-offset));
        background-color: var(--background-color);
        box-shadow: inset 0 0 0 0 var(--background-color), inset 0 0 0 0 rgba(255, 255, 255, 1);
    }
    100% {
        --circle-offset: 97rem;
        transform: translateX(var(--circle-offset));
        background-color: var(--background-color);
        box-shadow: inset 0 0 0 10px var(--background-color), inset 0 0 0 0 rgba(255, 255, 255, 1);
    }
}

@keyframes slider-border-switch {
    from {
        box-shadow: 0 0 0 1px var(--background-color), inset 0 0 0 33px var(--background-color), inset 0 0 0 calc(var(--slider-border-height) / 2) white;
        transform: translateX(calc(-100rem));
        width: var(--start-width);
    }
    to {
        box-shadow: 0 0 0 0 var(--background-color), inset 0 0 0 0 var(--background-color), inset 0 0 0 50px white;
        transform: translateX(0);
        width: var(--slider-border-width);
    }
}

@keyframes slider-border-switch-decoration {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Hand with wrapper and clip */

.check-slider-section .clip-hand-wrapper {
    z-index: 2;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
}

.check-slider-section .clip-hand {
    width: 100%;
    height: 100%;
    pointer-events: none;
    -webkit-clip-path: circle(calc(var(--circle-size) / 2) at calc(var(--circle-x-position) + 1px) 50%);
}

.check-slider-section .hand {
    --positin-top: 300;
    --positin-left: 300;

    z-index: 1;
    position: absolute;
    top: calc(50% + var(--positin-top) * 1rem);
    left: calc(var(--circle-x-position) + var(--positin-left) * 1rem);
    width: 100rem;
    height: 100rem;
    pointer-events: none;
    background: transparent url(hand.svg) no-repeat center/contain;
    animation: hand-over 5s infinite;
}

.check-slider-section .clip-hand .hand {
    background: transparent url(hand-invert.svg) no-repeat center/contain;
}

@keyframes hand-over {
    0% {
        opacity: 0;
        --positin-top: 300;
        --positin-left: 300;
        top: calc(50% + var(--positin-top) * 1rem);
        left: calc(var(--circle-x-position) + var(--positin-left) * 1rem);
    }

    10% {
        opacity: 0;
        --positin-top: 300;
        --positin-left: 300;
        top: calc(50% + var(--positin-top) * 1rem);
        left: calc(var(--circle-x-position) + var(--positin-left) * 1rem);
    }

    20% {
        opacity: 1;
        --positin-top: 100;
        --positin-left: 100;
        top: calc(50% + var(--positin-top) * 1rem);
        left: calc(var(--circle-x-position) + var(--positin-left) * 1rem);
    }

    40% {
        opacity: 1;
        --positin-top: 100;
        --positin-left: 100;
        top: calc(50% + var(--positin-top) * 1rem);
        left: calc(var(--circle-x-position) + var(--positin-left) * 1rem);
    }

    45% {
        opacity: 1;
        --positin-top: 0;
        --positin-left: 0;
        top: calc(50% + var(--positin-top) * 1rem);
        left: calc(var(--circle-x-position) + var(--positin-left) * 1rem);
    }

    50% {
        opacity: 1;
        --positin-top: 100;
        --positin-left: 100;
        top: calc(50% + var(--positin-top) * 1rem);
        left: calc(var(--circle-x-position) + var(--positin-left) * 1rem);
    }
    55% {
        opacity: 1;
        --positin-top: 0;
        --positin-left: 0;
        top: calc(50% + var(--positin-top) * 1rem);
        left: calc(var(--circle-x-position) + var(--positin-left) * 1rem);
    }
    65% {
        opacity: 0;
    }
    70% {
        opacity: 0;
        --positin-top: 300;
        --positin-left: 300;
        top: calc(50% + var(--positin-top) * 1rem);
        left: calc(var(--circle-x-position) + var(--positin-left) * 1rem);
    }
    100% {
        opacity: 0;
        --positin-top: 300;
        --positin-left: 300;
        top: calc(50% + var(--positin-top) * 1rem);
        left: calc(var(--circle-x-position) + var(--positin-left) * 1rem);
    }
}