section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.list-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 100rem;
    padding-right: 0;
}

.list-section .list-item {
    display: flex;
    flex-direction: row;
    /*display: inline-block;*/
    width: 100%;
    margin-bottom: 40rem;
    font-size: 48rem;
    line-height: 1.17;
}

.list-section .list-item span {
    vertical-align: middle;
    align-self: center;
}

.list-section .list-item img {
    --size: 112rem;
    min-width: var(--size);
    height: var(--size);
    background-color: rgba(255, 255, 255, 0.6);
    margin-right: 64rem;
    border-radius: 50%;
}

.button-section {
    z-index: 20;
    margin-top: 200rem;
}

.button-section button {
    -webkit-appearance: none;
    border: none;
    background: white;
    color: var(--background-color);
    width: 880rem;
    height: 128rem;
    border-radius: 128rem;
    font-size: 32rem;
    text-transform: uppercase;
    font-weight: 600;
}