section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.description-section {
    display: flex;
    flex-direction: column;
    align-items: start;
    text-align: left;
    margin-top: 140rem;
}

.description-section .text {
    font-size: 48rem;
}

.button-section {
    z-index: 20;
    margin-top: 220rem;
}

.button-section button {
    -webkit-appearance: none;
    border: none;
    background: white;
    color: var(--background-color);
    width: 880rem;
    height: 128rem;
    border-radius: 128rem;
    font-size: 32rem;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 40rem;
}