section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.wallet-section {
    /*position: absolute;*/
    /*top: var(--root-padding-height);*/
    /*left: 0;*/
    width: 100%;
    display: flex;
    flex-direction: row;
}

.wallet-section img {
    height: 56rem;
}

.wallet-section .balance {
    margin-left: 20rem;
    vertical-align: middle;
    font-size: 48rem;
    line-height: 1.17;
    font-weight: bold;
}

.description-section {
    display: flex;
    flex-direction: column;
    align-items: start;
    text-align: left;
    margin-top: 140rem;
}

.description-section .header {
    font-size: 48rem;
    text-align: left;
    margin-bottom: 100rem;
}

.description-section .text {
    font-size: 36rem;
}

.button-section {
    z-index: 20;
    margin-top: 137rem;
}

.button-section button {
    -webkit-appearance: none;
    border: none;
    background: white;
    color: var(--background-color);
    width: 880rem;
    height: 128rem;
    border-radius: 128rem;
    font-size: 32rem;
    text-transform: uppercase;
    font-weight: 600;
}

.sparks-section {
    position: absolute;
}

.sparks-section .spark {
    position: absolute;
    --start-x: 0;
    --start-y: 0;
    --target-x: 0;
    --target-y: 0;
    --angle: 0;
    --duration: .2;
    --delay: 0;
    width: 5rem;
    height: 5rem;
    background-color: white;
    opacity: 0;
    border-radius: 50%;
}

.sparks-section .spark:nth-child(1) {
    --start-x: 40;
    --start-y: -20;
    --target-x: 70;
    --target-y: -60;
    --angle: 35;
    --duration: .2;
}

.sparks-section .spark:nth-child(2) {
    --start-x: -50;
    --start-y: -20;
    --target-x: -70;
    --target-y: -60;
    --angle: 328;
    --duration: .25;
    --delay: .2;
}

.sparks-section .spark:nth-child(3) {
    --start-x: -70;
    --start-y: 0;
    --target-x: -100;
    --target-y: -10;
    --angle: 0;
    --duration: .3;
    --delay: .2;
}

.sparks-section .spark:nth-child(4) {
    --start-x: 70;
    --start-y: 10;
    --target-x: 90;
    --target-y: 40;
    --angle: 0;
    --duration: .2;
    --delay: .1;
}

.sparks-section .spark:nth-child(5) {
    --start-x: -20;
    --start-y: 10;
    --target-x: -30;
    --target-y: 60;
    --angle: 0;
    --duration: .2;
    --delay: .0;
}

.sparks-section .spark:nth-child(6) {
    --start-x: 10;
    --start-y: -20;
    --target-x: 20;
    --target-y: -80;
    --angle: 0;
    --duration: .3;
    --delay: .1;
}

.sparks-section .spark:nth-child(7) {
    --start-x: -60;
    --start-y: 20;
    --target-x: -80;
    --target-y: 50;
    --angle: 0;
    --duration: .25;
    --delay: .3;
}

.sparks-section .spark:nth-child(8) {
    --start-x: 80;
    --start-y: -20;
    --target-x: 120;
    --target-y: -40;
    --angle: 0;
    --duration: .22;
    --delay: .2;
}

.sparks-section .spark:nth-child(9) {
    --start-x: 20;
    --start-y: 10;
    --target-x: 40;
    --target-y: 60;
    --angle: 0;
    --duration: .3;
    --delay: .5;
}

.sparks-section .spark:nth-child(10) {
    --start-x: -20;
    --start-y: -20;
    --target-x: -30;
    --target-y: -80;
    --angle: 0;
    --duration: .2;
    --delay: .1;
}

.sparks-section .spark:nth-child(11) {
    --start-x: -60;
    --start-y: -10;
    --target-x: -100;
    --target-y: -50;
    --angle: 0;
    --duration: .3;
    --delay: .4;
}

.sparks-section .spark:nth-child(12) {
    --start-x: -60;
    --start-y: 10;
    --target-x: -110;
    --target-y: 40;
    --angle: 0;
    --duration: .2;
    --delay: .1;
}

.sparks-section .spark:nth-child(13) {
    --start-x: -5;
    --start-y: 10;
    --target-x: 5;
    --target-y: 80;
    --angle: 0;
    --duration: .35;
    --delay: .2;
}

.sparks-section .spark:nth-child(14) {
    --start-x: 80;
    --start-y: 0;
    --target-x: 140;
    --target-y: 0;
    --angle: 0;
    --duration: .25;
    --delay: .35;
}

.sparks-section .spark {
    animation: linear spark-fly calc(var(--duration) * 3s) calc(var(--delay) * 2s) infinite;
}

@keyframes spark-fly {
    0%{
        opacity: 0;
        transform: translate(calc(var(--start-x) * 1rem), calc(var(--start-y) * 1rem)) rotate(calc(var(--angle) * 1deg));
    }
    30% {
        opacity: 0;
        transform: translate(calc(var(--start-x) * 1rem), calc(var(--start-y) * 1rem)) rotate(calc(var(--angle) * 1deg));
    }
    90% {
        opacity: 1;
        transform: translate(calc(var(--target-x) * 1rem), calc(var(--target-y) * 1rem)) rotate(calc(var(--angle) * 1rad));
    }
    91% {
        opacity: 0;
        transform: translate(calc(var(--target-x) * 1rem), calc(var(--target-y) * 1rem)) rotate(calc(var(--angle) * 1rad));
    }
}