section.buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
}

section.buttons button {
    -webkit-appearance: none;
    border: none;
    background: white;
    color: var(--background-color);
    width: 880rem;
    height: 128rem;
    border-radius: 128rem;
    font-size: 32rem;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 40rem;
    cursor: pointer;
}

section.buttons button.small-button{
    width: 408rem;
    height: 80rem;
    border-radius: 40rem;
    font-size: 32rem;
    line-height: 1.38;
    text-transform: none;
    position: relative;
}

section.buttons button.active {
    --wave-size: 22rem;
    --wide-wave-size: calc(var(--wave-size) + 33rem);
    animation: waves 2s forwards;
}