.button-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 20;
    /*margin-top: 385rem;*/
}

.button-section button {
    -webkit-appearance: none;
    border: none;
    background: white;
    color: var(--background-color);
    width: 880rem;
    height: 128rem;
    border-radius: 128rem;
    font-size: 32rem;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 40rem;
}