.card {
    --circle-size: 164rem;
    --padding: 44rem;
    position: relative;
    height: 252rem;
    width: 100%;
    padding: var(--padding);
    background: rgba(255, 255, 255, 0.2);
    display: flex;
    align-items: flex-end;
    font-size: 44rem;
    line-height: 1.27;

}

.card:not(.service-card):before {
    content: '';
    display: block;
    width: var(--circle-size);
    height: var(--circle-size);
    margin-right: var(--padding);
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.2) url(../img/user.svg) no-repeat center/30%;
}

.card:not(.service-card):after {
    content: 'Это ты, Username';
    position: absolute;
    top: 58rem;
    left: calc(var(--circle-size) + (var(--padding) * 2));
    color: rgba(255, 255, 255, 0.4);
}

.card .left-counter, .card .right-counter {
    border-radius: 32px;
    width: 132rem;
    height: 64rem;
    line-height: 64rem;
    text-align: center;
    background: rgba(255, 255, 255, 0.4);
    margin-right: 20rem;
    margin-bottom: 16rem;
}

.card .right-counter {
    background: rgba(255, 255, 255, 0.2);
}

.card.service-card {
    height: 464rem;
    padding: 60rem 45rem;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.card .title {
    font-size: 60rem;
    line-height: 0.93;
}

.card .price span {
    font-weight: bold;
}

.card .categories {
    display: flex;
}

.card .categories span {
    display: inline-block;
    padding: 35rem 60rem;
    border-radius: 100rem;
    background: rgba(255, 255, 255, 0.2);
    margin-right: 16rem;
}

.card .discount {
    position: absolute;
    top: 160rem;
    right: -30rem;
    width: 348rem;
    height: 88rem;
    border-radius: 44rem;

    font-size: 40rem;
    font-weight: bold;

    line-height: 88rem;
    padding-right: 38rem;
    text-align: right;
    color: #00a3e0;
    background: white url(../img/coin1.svg) no-repeat left 8rem center/72rem;
}

.card .discount:before {
    content: '';
    position: absolute;
    width: 2rem;
    height: 100%;
    left: 86rem;
    top: 0;
    background-color: rgba(0, 163, 224, 0.4);
}

.background-cards {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: .5;
}

.background-cards > * {
    position: absolute;
    width: 968rem;
    left: 56rem;
    top:-200vh;
    animation: background-cards-scroll linear 10s infinite;
}

.background-cards > *:nth-child(1){top:-192rem;}
.background-cards > *:nth-child(2){top:100rem;}
.background-cards > *:nth-child(3){top:392rem;}
.background-cards > *:nth-child(4){top:684rem;}
.background-cards > *:nth-child(5){top:976rem;}
.background-cards > *:nth-child(6){top:1268rem;}
.background-cards > *:nth-child(7){top:1560rem;}
.background-cards > *:nth-child(8){top:1852rem;}

@keyframes background-cards-scroll {
    from{
        opacity: 1;
        transform: translateY(0);
    }
    99%{
        opacity: 1;
        transform: translateY(150vh);
    }
    99.00001%{
        opacity: 0;
        transform: translateY(-150vh);
    }
    to{
        opacity: 1;
        transform: translateY(-150vh);
    }
}