section.coin-cover {
    --section-height: 1104rem;
    --coin-size: 323rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: var(--section-height);
    min-height: var(--section-height);
    width: 100%;
}

section.coin-cover .coin {
    margin-top: 395rem;
    /*margin-left: calc((var(--coin-size) / 2) * -1);*/
    height: var(--coin-size);
    width: var(--coin-size);
    align-self: center;
    background: #00a3e0 url(../img/coin2.svg) no-repeat center/contain;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 20;

    -webkit-mask-image: url(../img/coin2.svg);
    mask-image: url(../img/coin2.svg);
    mask-mode: alpha;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100%;
    mask-size: 100%;
    -webkit-mask-position: center;
    mask-position: center;
}

section.coin-cover .coin-blink {
    width: 100%;
    height: 20%;
    background: white;
    opacity: 0.5;
    transform: rotate(320deg);
    animation: coin-blink 3s infinite;
}

@keyframes coin-blink {
    0% {
        opacity: 0;
        transform: rotate(320deg) translateY(-400%);
    }
    70% {
        transform: rotate(320deg) translateY(-400%);
    }
    100% {
        transform: rotate(320deg) translateY(400%);
    }
}

section.coin-cover .background-rays-mask {
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
}

section.coin-cover .background-rays-mask:before {
    content: '';
    display: block;
    position: fixed;
    z-index: 1;
    left: calc(50% - (330rem / 2));
    /*top: calc(50% - (330rem / 2));*/
    top: calc(391rem + var(--root-padding-height));
    right: 0;
    /*bottom: 0;*/
    width: 330rem;
    height: 330rem;
    border-radius: 50%;
    background: var(--background-color);
}

section.coin-cover .background-rays-mask:after {
    --size: 3000rem;
    content: '';
    display: block;
    position: fixed;
    z-index: 10;
    left: calc(50% - (var(--size) / 2));
    /*top: calc(50% - (var(--size) / 2));*/
    top: calc(395rem + var(--root-padding-height) + (var(--coin-size) / 2) - (var(--size) / 2));
    right: 0;
    /*bottom: 0;*/
    width: var(--size);
    height: var(--size);
    background: radial-gradient(ellipse at center, rgba(0, 163, 224, 0) 0%, rgba(0, 163, 224, 1) 65%, rgba(0, 163, 224, 1) 100%);
}

section.coin-cover .background-rays-mask:after {
    --slide-switch-delay: 1;
    box-shadow: inset 0 0 0 100vmax rgba(0, 163, 224, 1);
    animation: background-rays-mask-opacity 2s forwards;
}

section.coin-cover.unload .background-rays-mask:after {
    box-shadow: inset 0 0 0 100vmax rgba(0, 163, 224, 0);
    animation: background-rays-mask-opacity-exit .5s forwards;
}

section.coin-cover .background-rays {
    /*background: repeating-conic-gradient(hsla(0,0%,100%,.2) 0 15deg, hsla(0,0%,100%,0) 0 30deg);*/
    position: absolute;
    /*z-index: 1;*/
    left: -1em;
    right: -1em;
    top: calc(395rem + var(--root-padding-height) + (var(--coin-size) / 2));
    /*bottom: -1em;*/
    margin: auto;
    padding: 0;
    width: 0;
    height: 0;
    list-style: none;
    -webkit-animation: 20s rotate infinite linear;
    animation: 20s rotate infinite linear;
}

section.coin-cover .background-rays LI /*,
.background-rays LI:before,*/
    /*.background-rays LI:after*/
{
    position: absolute;
    border: 0 solid transparent;
    border-width: 4em 20em;
    border-color: transparent rgba(80, 191, 231, 0.7);
    width: 0;
    height: 0;
    font-size: 70rem;
}

section.coin-cover .background-rays LI {
    left: -20em;
    top: 50%;
    margin-top: -4em;
    -webkit-transform: rotate(0.1deg);
    transform: rotate(0.1deg);
}

section.coin-cover .background-rays LI:nth-child(2) {
    /*-webkit-transform: rotate(15deg);*/
    transform: rotate(45deg);
}

section.coin-cover .background-rays LI:nth-child(3) {
    /*-webkit-transform: rotate(30deg);*/
    transform: rotate(90deg);
}

section.coin-cover .background-rays LI:nth-child(4) {
    /*-webkit-transform: rotate(45deg);*/
    transform: rotate(135deg);
}

@keyframes rotate {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes background-rays-mask-opacity {
    from {
        box-shadow: inset 0 0 0 100vmax rgba(0, 163, 224, 1);
    }
    to {
        box-shadow: inset 0 0 0 100vmax rgba(0, 163, 224, 0);
    }
}

@keyframes background-rays-mask-opacity-exit {
    from {
        box-shadow: inset 0 0 0 100vmax rgba(0, 163, 224, 0);
    }
    to {
        box-shadow: inset 0 0 0 100vmax rgba(0, 163, 224, 1);
    }
}