section.intro-switch {
    --circle-size: 158rem;
    --switch-width: 348rem;
    --wave-size: 33rem;
    --wide-wave-size: calc(var(--wave-size) + 44rem);
    position: relative;
    height: 969rem;
    min-height: 969rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: opacity .5s;
}

section.intro-switch .switch {
    position: absolute;
    z-index: 15;
    margin-top: 492rem;
    width: var(--circle-size);
    height: var(--circle-size);
    border-radius: 50%;
    background: white;
    /*box-shadow: 0 0 0 0 var(--accent-color);*/
    transform: translateX(calc(((var(--switch-width) / 2) - (var(--circle-size) / 2)) * -1));
    animation: pulse 2s infinite;
}

section.intro-switch.active .switch {
    animation: switch 1s forwards;
}

section.intro-switch.active .switch:before {
    --shadow-offset: 20rem;
    content: '';
    position: absolute;
    z-index: 11;
    width: var(--circle-size);
    height: var(--circle-size);
    border-radius: 50%;
    background-color: white;
    transform: translate(calc(var(--shadow-offset) * -1), var(--shadow-offset)) /*rotate(-60deg)*/;
    animation: switch-shadow 1s forwards;
}

section.intro-switch .switch:after {
    content: '';
    position: absolute;
    z-index: 12;
    width: var(--circle-size);
    height: var(--circle-size);
    border-radius: 50%;
    /*background-color: transparent;*/
}

section.intro-switch.active .switch:after {
    animation: switch-color 1s forwards;
    background-color: white;
}

@keyframes switch {
    20% {
        /*background-color: var(--background-color);*/
        transform: translateX(calc(((var(--switch-width) / 2) - (var(--circle-size) / 2)) * -1));
    }

    100% {
        background-color: transparent;
        transform: translateX(calc(((var(--switch-width) / 2) - (var(--circle-size) / 2))));
    }

}

@keyframes switch-color {
    20% {
        background-color: var(--accent-color);
    }

    100% {
        background-color: var(--background-color);
    }
}

@keyframes switch-shadow {
    0% {
        background-color: transparent;
        transform: translate(0, 0)
    }
    40% {
        background-color: white;
        transform: translate(0, 0)
    }
    100% {
        background-color: white;
        transform: translate(calc(var(--shadow-offset) * -1), var(--shadow-offset))
    }
}

section.intro-switch .switch-frame {
    --border-size: 15rem;
    --size: calc(var(--circle-size) - (var(--border-size) * 2));
    content: '';
    position: absolute;
    z-index: 10;
    margin-top: calc(492rem + var(--border-size));
    left: calc(50% - ((var(--switch-width) / 2) - var(--border-size)));
    width: var(--size);
    height: var(--size);
    border-radius: calc(var(--size) / 2);
    will-change: width;
}

section.intro-switch.active .switch-frame {
    background: var(--background-color);
    box-shadow: 0 0 0 0 var(--accent-color);
    animation: switch-frame 1s forwards;
    will-change: width;
}

@keyframes switch-frame {
    20% {
        box-shadow: 0 0 0 calc((212rem - var(--size)) / 2) var(--accent-color);
        width: var(--size);
    }
    100% {
        box-shadow: 0 0 0 calc((212rem - var(--size)) / 2) var(--accent-color);
        width: calc(var(--switch-width) - (var(--border-size) * 2));
    }
}

section.intro-switch.unload {
    opacity: 0 !important;
}

section.coin-cover.switch-animation {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    --coin-size: 634rem;
    margin-top: calc(var(--root-padding-height) - 140rem);
    pointer-events: none;
}

section.intro-switch.unload ~ section.coin-cover.switch-animation {
    opacity: 1;
    transition: opacity .5s .1s;
}

section.intro-switch.unload ~ section.coin-cover.switch-animation .coin {
    /*--coin-size: 323rem;
    height: var(--coin-size);
    width: var(--coin-size);*/
    --coin-size: 634rem;
    height: var(--coin-size);
    width: var(--coin-size);
    animation: coin-cover-switch-animation 1s .5s forwards;
}

@keyframes coin-cover-switch-animation {
    from {
        /*--coin-size: 634rem;*/
        /*height: var(--coin-size);*/
        /*width: var(--coin-size);*/
        transform: translateY(0) scale(1);
    }
    to {
        /*--coin-size: 323rem;*/
        /*height: var(--coin-size);*/
        /*width: var(--coin-size);*/
        transform: translateY(-15rem) scale(0.51);
    }
}