.wallet-section {
    position: absolute;
    top: var(--root-padding-height);
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.wallet-section img {
    height: 56rem;
}

.wallet-section .balance {
    margin-left: 20rem;
    vertical-align: middle;
    font-size: 48rem;
    line-height: 1.17;
    font-weight: bold;
}